.empty{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.491);
    border-radius: 8px;
}

.table{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    border-radius: 8px;
}

.table-occupied{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 8px;
}

.floor-plan{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.dinamic{
    width: 100px;
    height: 100px;
    background-color: #EFF2F1;
    border-radius: 8px;
}