#main-navbar {
  background-color: green;
  display:flex;
  justify-content: space-between;
  color: white;
}

#main-navbar > h1 {
  padding: 10px;
}

#main-navbar > ul {
  display: flex;
  list-style: none;
}

#main-navbar > ul > li {
  padding: 6px;
}