#main-navbar {
  background-color: #687d84;
  display:flex;
  justify-content: space-between;
  color: white;
  
}

#main-navbar > h1 {
  padding: 10px;
  font-family: 'Raleway Dots', cursive;
  color: black;
  font-size: 28px;

  
}

.ul-navbar {
  display: flex;
  list-style: none;
  margin-right:20px;

}

#main-navbar > ul > li{
  
  padding: 15px;
}

.app-text{
  margin-left: 20px;
  
}


#main-navbar > ul > li:hover {
  
  transform:scale(1.1);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:#fff;
}



.restaurant-icon{
  font-size: 30px;
    margin-left: 15px;
}

.nav-text:link, .nav-text:visited {
  background-color: #EFF2F1;
  border-radius: 8px;
  color: black;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.styled-table {

  background: #EFF2F1;
  margin: 25px 35px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: -webkit-fill-available;
  border: 1px solid black;
}

.styled-table tr {
  background-color: #EFF2F1;
  text-align: center;
}
.table-columns > th{
  font-size:18px;
  border-bottom: 1px solid black;
  background-color: #a4c4c5;
}

a:link, a:visited{
  background-color: #a4c4c5;
  border-radius: 8px;
  color: black;
  border: 1px black solid;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover{
  transform:scale(1.1);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:#fff;
}
.trash-icon{
  border-radius: 8px;
  color: black;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-width: 1px;
}

.trash-icon:hover{
  transform:scale(1.1);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:red;
}

.form{
  display: flex;
  justify-content: center;
  gap: 10px;
}

button{
  background-color: #a4c4c5;
  border-radius: 8px;
  color: black;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
button:hover{
  transform:scale(1.1);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:white;
}

.title{
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
  
}

.icon{
  font-size: 30px;
  margin-left: 15px;
}

#duplicate-error {
  margin-top: 40px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  text-align: center;
  width: 500px;
  background-color: #e0e4e1c2;
}

.error-container{
  display: flex;
  justify-content: center;
}

.text-box{
  display: flex;
  justify-content: center;

}

input {
  border: 1px solid #6f533e;
  border-radius: 6px;
}

select{
  border: 1px solid #6f533e;
  border-radius: 6px;
}


